<!DOCTYPE html>
<html>
<head>
    <title>Disciplinas</title>
</head>
<body>

    <h1>Minhas Disciplinas</h1>

    <a href="{% url 'criar_disciplina' %}">Criar disciplina</a>

    <ul>
        {% for disciplina in disciplinas %}
            <li>
                {{ disciplina.NomeDisciplina }}

                <a href="{% url 'detalhar_disciplina' disciplina.id %}">
                    Visualizar
                </a>

                <a href="{% url 'editar_disciplina' disciplina.id %}">
                    Editar
                </a>

                <a href="{% url 'excluir_disciplina' disciplina.id %}">
                    Excluir
                </a>
            </li>
        {% empty %}
            <li>Nenhuma disciplina cadastrada.</li>
        {% endfor %}
    </ul>

</body>
</html>