<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <title>Notificações</title>
</head>

<body>

    <h1>Notificações</h1>

    {% if notificacoes %}

        <ul>

            {% for notificacao in notificacoes %}

                <li>

                    <strong>
                        {{ notificacao.mensagem }}
                    </strong>

                    <br>

                    Estudante:
                    {{ notificacao.estudante.nome }}

                    <br>

                    Status:
                    {% if notificacao.lida %}
                        Lida
                    {% else %}
                        Não lida
                    {% endif %}

                    <br><br>

                    <a href="{% url 'detalhar_notificacao' notificacao.id %}">
                        Detalhes
                    </a>

                    |

                    <a href="{% url 'editar_notificacao' notificacao.id %}">
                        Editar status
                    </a>

                    |

                    <a href="{% url 'excluir_notificacao' notificacao.id %}">
                        Excluir
                    </a>

                </li>

                <br>

            {% endfor %}

        </ul>

    {% else %}

        <p>Nenhuma notificação disponível.</p>

    {% endif %}

</body>

</html>